<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate ID Card</title>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Generate ID Card</h1>
        <form method="POST" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                               {% for field in form %}
                    <div class="row mb-3 align-items-center">
                        <div class="col-md-3 text-right">
                            <label class="col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                        <div class="col-md-6">
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Generate ID Card</button>
        </form>
    </div>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
