
<!DOCTYPE html>
<html>
<head>
    <title>ID Card Created</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% load static %}
    <h1>Your ID Card</h1>
    <h2>Front Side</h2>
    <img src="{{ front_image }}" alt="ID Card Front">
    <h2>Back Side</h2>
    <img src="{{ back_image }}" alt="ID Card Back">
    <a href="{% url 'download_id_card_pdf' emp_id=emp_id %}" class="btn btn-primary">Download ID Card PDF</a>

</body>
</html>